@model ProfileViewModel

@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1 style="color: white; text-align:center;">Update Profile Information</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Images" class="form-control custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>              
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div> *@

            <div class="form-group row" >
                <div class="col-sm-auto">
                    <button type="submit" class="btn btn-primary" style="width: 80px;margin-top: 10px;">Submit</button>
                </div>
                <div class="col-sm-auto">
                    <a asp-action="Profile" asp-controller="Admin" class="btn btn-primary" style="width: 80px;margin-top: 10px;">Cancel</a>
                </div>
                
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Profile">Back to Profile</a>
</div> *@

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}